footer.footer
  section.footer__top.wrapper.wrapper--with-padding
    h2 You are a professional and you want to sell on our network?
    a.btn.btn--color-gray CONTACT US
  section.footer__bottom.wrapper.wrapper--with-padding
    div
      h2 The Brand Collector
      p |46/48, rue René Clair
        |75018 Paris
      address
        a(href="mailto:hello@thebrandcollector.com") hello@thebrandcollector.com
      a(href="tel:+33666615553") (+33) 6 66 61 55 53
      a.social(href="")

      a.cosial(href="")

    div
