header.header
  .header__wrapper.wrapper.wrapper--with-padding
    span.menu-burger
      svg.svg-3
        path(d="M0,7 L16,7 L32,7")
        path(d="M0,13 L16,13 L32,13")
    img(src="../images/Logo.svg" width="38" height="24")
    nav.main-nav__wrapper
      ul.main-nav
        li.main-nav__item
          a.main-nav__link(href="") CATALOG
        li.main-nav__item
          a.main-nav__link(href="") AUCTIONS
    .header__right
      button.header__btn LOGIN
      a.header__btn(href="") JOIN US

