header.header
  .header__wrapper.wrapper.wrapper--with-padding
      img(src="../images/Logo.svg" width="38" height="24")
      nav.main-nav__wrapper
        ul.main-nav
          li.main-nav__item
            a.main-nav__link(href="") CATALOG
          li.main-nav__item
            a.main-nav__link(href="") AUCTIONS
          img(src="../images/search.svg")
      a.header__btn(href="") WISHLIST
      div.dropdown
        button.header__btn.profile-btn PROFILE
          svg(class="svg-1" style="margin-left: 5px;width:10px; height: 6px;")
            path(
              d="M1,1 L5,5 L9,1"
              style="fill: none; stroke: #000; stroke-linecap: round; stroke-linejoin: round; transition: 0.14s;"
              )
        div.dropdown__body.profile-dropdown
          h3.profile-dropdown__name Mathieu Grac
          a.profile-dropdown__email(href="") mathieugrac@gmail.com
          .profile-dropdown__credit
            div AUCTION CREDIT
            div $ 1,000.00
          ul.profile-dropdown__menu
            li
              a(href="") MY ORDERS
            li
              a(href="") PAYMENT METHODS
            li
              a(href="") ADDRESSES
            li
              a(href="") ACCOUNT
            li
              button.header__btn LOG OUT
      img(src="../images/Bag.svg")
      .cart-dropdown
        .cart-dropdown__header
          span Shopping Cart
          span.cart-dropdown__close-btn
        .cart-dropdown__body
          .cart-dropdown__item
            img(src="../images/image-27.png" width="88" height="88")
            div
              span.cart-dropdown__brand Louis Vuitton
              span.cart-dropdown__name Pochette Cosmetique
              span.cart-dropdown__cost 349.00&euro;
            div
              span.cart-dropdown__item-delete DELETE
          .cart-dropdown__item
            img(src="../images/image-27.png" width="88" height="88")
            div
              span.cart-dropdown__brand Louis Vuitton
              span.cart-dropdown__name Pochette Cosmetique
              span.cart-dropdown__cost 349.00&euro;
            div
              span.cart-dropdown__item-delete DELETE
        .cart-dropdown__calculation
          div.cart-dropdown__calculation-item
            span Subtotal
            span &euro;3,058.00
          div.cart-dropdown__calculation-item
            span COA Fee
            span &euro;0.00
          div.cart-dropdown__calculation-item
            span TAX
            span &euro;0.00
          div.cart-dropdown__calculation-item
            span Shipping
            span FREE
        .cart-dropdown__total
          span TOTAL
          span &euro;3,058.00
        a.btn(href="") CHECKOUT

//<svg viewBox="0 0 10 10" class="svg-1">
//<path d="M2,2 L3,7 L8,8" />
//</svg>
