li.product
  a(href="")
    span.like
      svg(width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M8.96 2.89612L9.31356 3.24968L9.66711 2.89612C11.5547 1.00858 14.6149 1.00859 16.5025 2.89612C18.39 4.78365 18.39 7.84395 16.5025 9.73149L9.31356 16.9204L2.12464 9.73149C0.237104 7.84395 0.237096 4.78366 2.12464 2.89612C4.01218 1.00858 7.07247 1.00859 8.96 2.89612Z" stroke="#777777")
    img.product__image(src="../images/image-27.png" width="88" height="88")
    h2.product__brand Louis Vuitton
    p.product__name Pochette Cosmetique
    p.product__grade Overall grade: AB
    p.product__price 349.00&euro;
