.side-panel__wrapper
  .side-panel
    .side-panel__header
      span Shopping Cart
      span.side-panel__close-btn.close-btn
    .side-panel__body
      .cart__body
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
        .cart__item
          img(src="../images/image-27.png" width="88" height="88")
          div
            span.cart__brand Louis Vuitton
            span.cart__name Pochette Cosmetique
            span.cart__cost 349.00&euro;
          div
            span.cart__item-delete DELETE
    .side-panel__footer
      .side-panel__calculation
        div.side-panel__calculation-item
          span Subtotal
          span &euro;3,058.00
        div.side-panel__calculation-item
          span COA Fee
          span &euro;0.00
        div.side-panel__calculation-item
          span TAX
          span &euro;0.00
        div.side-panel__calculation-item
          span Shipping
          span FREE
      .side-panel__total
        span TOTAL
        span &euro;3,058.00
      a.btn(href="") CHECKOUT
