html
  include templates/head
  body
    include templates/header
    main
      section.hero
        h1.hero__title THE BRAND COLLECTOR
          img(src="../images/bc-header-image.png" width="920" height="57")
        p.hero__text ENTER THE WORLD`S LARGEST SECOND-HAND LUXURY WHOLESALE MARKET
        a.btn.hero__link(href="") JOIN US
      section.second.wrapper.wrapper--with-padding
        .second__item
          img(src="../images/wholestock.png" width="400" height="400")
          h2 Wholesale Stock
          p Get access to the widest range of brands.
          a.btn.btn--color-white EXPLORE
        .second__item
          img(src="../images/auctions.png" width="400" height="400")
          h2 Auctions
          p Place your best offer on 10,000+ units per month
          a.btn.btn--color-white MEMBERS ONLY
      section.about.wrapper.wrapper--with-padding
        .about__more
          h2.about__header  BUY FROM THE BEST SECOND-HAND LUXURY SUPPLIERS
          a.btn.btn--color-seashell(href="") LEARN MORE
        .about__image
        .quality
          h3 Top quality
          p Through our network, we give you access to the best supplies from all around the world.
        .authenticity
          h3 Authenticity
          p All our suppliers have a mandatory dealer licence, giving a guarantee to sell authentic items only.
        .time
          h3 Time saved
          p We do the sourcing and manage logistics from beginning to the end so you can focus on growing your business.
        .btn-wrapper
          a.btn(href="") JOIN US
      section.coming-soon.wrapper.wrapper--with-padding
        .coming-soon__more
          span COMING SOON
          h2.coming-soon__header SELL THROUGH THE WORLD LARGEST NETWORK OF SECOND-HAND LUXURY RESELLERS
          a.btn.btn--color-early-dawn(href="") LEARN MORE
        .coming-soon__image
        .btn-wrapper
          p Through our network, we give you access to the best supplies from all around the world.
          a.btn(href="") LEARN MORE
      section.team.wrapper.wrapper--with-padding
        .team__more
          h2.team__header THE TEAM BEHIND
        .team__subheader
          p The Brand Collector was born from the passion for luxury shared by two friends.
        figure.team__unit.team__unit--hippolyte
          div
            img(src="../images/Hippolyte.png" alt="Hippolyte" width="400" height="500")
          figcaption
            h3 Hippolyte Noton
            p CO FOUNDER
        figure.team__unit.team__unit--antoine
          div
            img(src="../images/Antoine.png" alt="Antoine" width="400" height="500")
          figcaption
            h3 Antoine Derbois
            p CO FOUNDER
        .team__description
          p What sets them apart is their mission and vision to not only resell authentic luxury goods but also to, simultaneously, establish the notion of responsible luxury by being a part of the circular economy and including their consumers in it.
          a(href="") MORE ABOUT US
      section.contact.wrapper.wrapper--with-padding
        h2 Contact us
        p Call us or drop us an email, we`ll be happy to help you to get started or answers your questions.
        a.btn(href="") EMAIL US
    include templates/footer

